<header>
  <div class="inner">
    <a id="big-logo" class="logo icon-logo" href="{{site.baseurl}}/" title="RapidPro"></a>
    <h2>Specification and reference engine for RapidPro flows</h2>
    <a href="https://github.com/rapidpro/rapidpro" class="button"><small>View project on</small> GitHub</a>

    <ul id="navbar">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/actions/">Actions</a></li>
      <li><a href="{{site.baseurl}}/rules/">Rules</a></li>
      <li><a href="{{site.baseurl}}/input/">Input</a></li>
      <li><a href="{{site.baseurl}}/output/">Output</a></li>
      <li><a href="{{site.baseurl}}/examples/">Examples</a></li>      
      <li><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>
  </div>
</header>
