<header>
  <div class="inner">
    <a id="big-logo" class="logo icon-logo" href="{{site.baseurl}}/" title="RapidPro"></a>
    <h2>Specification for RapidPro flows</h2>
    <a href="https://github.com/rapidpro/rapidpro" class="button"><small>View project on</small> GitHub</a>

    <ul id="navbar">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/concepts/">Concepts</a></li>
      <li><a href="{{site.baseurl}}/expressions/">Expressions</a></li>
      <li><a href="{{site.baseurl}}/specification/">Specification</a></li>
      <li><a href="{{site.baseurl}}/examples/">Examples</a></li>
      <li><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>
  </div>
</header>
